.blog {
  &__buttons {
    button {
      padding: 3px 8px;
      margin: 0px 5px;
      background-color: #2064ad;
      color: $white;
      svg {
        margin-left: 5px;
      }
    }

    button.comments {
      background-color: #121212;
    }
  }
}


// Style Media Queries In The Max Width ("Tablet Screen").
@media (max-width: $mobile-screen) {
  .blog {
    &__buttons {
      position: relative;
      bottom: 5px;
      z-index: 1;
      margin-top: 25px;
      text-align: center;
    }
  }
}

