.blog {
  &__buttons {
    margin-left: 20px;
  }
}


// Style Media Queries In The Max Width ("Tablet Screen").
@media (max-width: $mobile-screen) {
  .blog {
    &__buttons {
      position: relative;
      bottom: 5px;
      z-index: 1;
      margin-top: 25px;
      text-align: center;
    }
  }
}

