.contact__form {
  .contenerform {
    padding: 47px 55px;
  }
}
.contenerform {
  .fielddiv {
    position: relative;
    height: 61px;
    margin-bottom: 25px;
    span {
      position: absolute;
      z-index: 1;
      display: inline-block;
      height: 100%;
      width: 61px;
      left: 0;
      text-align: center;
      line-height: 61px;
      color: #9e9fa4;

      svg {
        width: 17px;
        height: 17px;
      }
    }
    input,
    textarea {
      height: 61px;
      padding-left: 62px;
      font-size: 16px;
      font-family: $fontOpenSans;
    }
    textarea {
      height: 180px;
      line-height: 1;
      padding-top: 20px;
    }
  }

  .buttonfield {
    text-align: right;
    button {
      display: inline-block;
      width: 148px;
      height: 42px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      background-color: #2064ad;
      color: $white;
      font-size: 14x;
      font-weight: bold;
      font-family: $fontOpenSans;
      img {
        margin-right: 8px;
      }
    }
  }
}
.errorfiled {
  color: red;
}

@media (max-width: $mobile-screen) {
  .contenerform {
    padding: 47px 5px;
  }
}
