// Mobile Menu
.vs-menu-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  width: 0;
  height: calc(100vh - 148px);
  transition: all ease 0.8s;
  .vs-menu-area {
    width: 100%;
    background-image: radial-gradient( $main-color,#1657A3);
    height: 100%;
    position: relative;
    transition: all ease 1s;
    transition-delay: 0.5s;
    z-index: 20;
    left: 0;
    opacity: 1;
    visibility: visible;
    display: none;
    padding: 10px;
  }
}

.navbarmenu {
  &__nav {
    width: 75%;
    margin: 35px auto 10px auto;
    height: 100%;
  }
  &__item {
    font-family: $fontmontserrat;
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px 0;
    width: 100%;
    a {
      color: $white;
    }
  }
  &__link {
    color: $white;
    width: 100%;
    display: inline-block;
    padding-bottom: 14px;
    border-bottom: 1px solid #f5f5f5;
    .icon {
      font-size: 12px;
      margin-right: 10px;
    }
    &:hover {
      color: $white;
      padding-left: 10px;
    }
  }

  &__drowpmenue{
    border: none;
    display: inline-block;
    margin-left: 22px;
    margin-bottom: 19px;
    width: 100%;
  }
  &__drowpmenue.websolutions{
    margin-top: 19px;

  }
  &__link.active,&__drowpmenue.active {
    color: $white;
    font-weight: bold;
  }
}

// Close Div Menu
.vs-menu-wrapper.vshide {
  opacity: 0;
  visibility: hidden;
  width: 0%;
  transition: all ease 0.8s;
}

// open Div Menu
.vs-menu-wrapper.vsshow {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all ease 0.8s;
  .vs-menu-area {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: all ease 1s;
    display: block !important;
    color: antiquewhite;
    padding: 1px;
  }
}

// Style Media Queries In The Max Width ("*******").
@media (max-width: $mobile-screen) {
  .vs-menu-wrapper {
    .vs-menu-area {
      width: 100%;
    }
  }
}
