.slider {
  &__services {
    max-width: 100%;
    max-height: auto;
    min-height: 888px;
    position: relative;
    background-image: url(../../images/public/services_slider_home.jpg);
    .overload {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(30, 30, 30, 0.9);
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
      height: 100%;
    }
    &__titleback {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -25%);
      z-index: 3;
      color: transparent;
      font-size: 204px;
      font-weight: bold;
      text-align: center;
      -webkit-text-stroke: 1px #484747;
      -webkit-transform: translate(-50%, -25%);
      -moz-transform: translate(-50%, -25%);
      -ms-transform: translate(-50%, -25%);
      -o-transform: translate(-50%, -25%);
    }
    &__header {
      position: absolute;
      z-index: 4;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 75%);
      text-align: center;
      -webkit-transform: translate(-50%, 75%);
      -moz-transform: translate(-50%, 75%);
      -ms-transform: translate(-50%, 75%);
      -o-transform: translate(-50%, 75%);
      color: $white;
      h3 {
        font-family: $fontpoppins;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .title {
        font-family: $fontmontserrat;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 300;
        padding-bottom: 15px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          background-color: #186bbb;
          width: 185px;
          height: 5px;
          transform: translate(-50%, -50%);
        }
      }
      .detiles {
        font-size: 20px;
        font-family: $fontOpenSans;
        font-weight: 200;
        min-width: auto;
        max-width: 724px;
      }
    }
  }
}

.slider__services__slick {
  position: relative;
  z-index: 4;
  color: $white;
  top: 350px;
  text-align: center;
  &__item {
    width: 310px !important;
    height: 300px !important;
    background-color: #2a2a2a;
    cursor: pointer;
    .icon {
      width: 125px;
      height: 125px;
      margin: 25px auto 13px auto;
      background-color: #181818;
      color: $white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      text-align: center;
      line-height: 125px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-delay: 1s;
      transition: all 2s;
      -webkit-transition: all 2s;
      -moz-transition: all 2s;
      -ms-transition: all 2s;
      -o-transition: all 2s;
      .img_light {
        display: block;
      }
      .img_primary {
        display: none;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: bold;
      font-family: $fontOpenSans;
      text-align: center;
    }
    p {
      width: 265px;
      margin: 0 auto;
      text-align: center;
      font-size: 18px;
      font-family: $fontmontserrat;
      font-weight: 300;
    }

    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;

    &:hover {
      background-color: #2064ad;
      .icon {
        background-color: $white;
        .img_light {
          display: none;
        }
        .img_primary {
          display: block;
        }
      }
    }
  }
  ul.slick-dots {
    bottom: -45px;
    li {
      button {
        &::before {
          content: "";
          width: 20px !important;
          height: 4px !important;
          background-color: #4d4d4d !important;
        }
      }
    }
    li.slick-active {
      button {
        &::before {
          background-color: #186bbb !important;
        }
      }
    }
  }
}

// Style Media Queries In The Max Width ("Web Screen").
@media (max-width: $web-screen) {
  .slider__services__slick {
    top: 400px;
  }
}

// Style Media Queries In The Max Width ("Tablet Screen").
@media (max-width: $tab-screen) {
  .slider__services {
    height: 638px;
    padding: 40px 0;
  }
  .slider__services__titleback {
    font-size: 50px;
    top: 15px;
  }
  .slider__services__header {
    transform: translate(-50%, 30%);
    text-align: center;
    -webkit-transform: translate(-50%, 30%);
    -moz-transform: translate(-50%, 30%);
    -ms-transform: translate(-50%, 30%);
    -o-transform: translate(-50%, 30%);
    h3 {
      font-size: 20px;
    }
    .title {
      font-size: 12px;
      &::before {
        width: 115px;
        height: 3px;
      }
    }

    .detiles {
      font-size: 15px;
    }
  }
  .slider__services__slick {
    top: 325px;
  }
}

@media (max-width: $mobile-screen) {
}
