.blog {
  &__card {
    padding: 100px 0px 70px 0px;

    &__header {
      padding-bottom: 80px;
      margin-bottom:57px ;
      display: flex;
      .detiles {
        width: calc(100% - 487px);
        h5 {
          font-family: $fontOpenSans;
          font-size: 40px;
          font-weight: bold;
          color: #000000;
          padding-bottom: 6px;
          position: relative;
          &::before {
            content: "";
            bottom: -10px;
            left: 0;
            background-color: #1079c0;
            width: 156px;
            height: 5px;
            position: absolute;
          }
        }
        p {
          color: #707070;
          font-size: 24px;
          font-weight: 400;
          font-family: $fontOpenSans;
          margin-top: 45px;
        }
      }
      .img {
        width: 487px;
        height: 501px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .category {
          position: absolute;
          top: 10px;
          left: -7%;
          padding: 8px 15px;
          background-color: #113d6d;
          color: $white;
          text-transform: uppercase;
          font-family: $fontmontserrat;
          font-weight: 500;
          font-size: 14px;
          z-index: 1;
        }
      }
    }
    &__data{
      p{
        color: #707070;
        font-size: 24px;
        font-weight: 400;
        font-family: $fontOpenSans;
        margin-top: 45px;
      }
    }
  }
}

// Style Media Queries In The Max Width ("Tablet Screen").
@media (max-width: $tab-screen) {
  .blog {
    &__card {
      padding: 100px 0px 70px 0px;

      &__header {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom:25px ;
        .detiles {
          width: 100%;
          h5 {
            font-size: 30px;
          }
          p {
            font-size: 18px;
            margin-top: 25px;
          }
        }
        .img {
            margin: 25px auto;
        }
      }
      &__data{
        p{
          font-size: 18px;
          margin-top: 25px;
        }
      }


    }
  }
}


// Style Media Queries In The Max Width ("mobile Screen").
@media (max-width: $mobile-screen) {
    .blog {
      &__card {
        padding: 100px 0px 70px 0px;
  
        &__header {
          padding-bottom: 35px;
          display: flex;
          flex-direction: column;
          .detiles {
            p {
              font-size: 16px;
            }
          }
          .img {
            width: 95%;
            height: 400px;
          }
        }
        &__data{
          p{
            font-size: 16px;
          }
        }
      }
    }
  }