// Colors Theme
$black: black;
$white: white;
$gray: #c2c1c1;
$main-color: #193A63;
$secnd-color: #e38519;
$SansDisplay: 'Noto Sans Display', sans-serif;

// Media Theme
$mobile-screen: 767px;
$tab-screen: 992px;

// Font Size Theme
$main-size: 1rem;
