@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* 
    A- Variables Styles .
    B- Style Genaral Classes .
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}
img {
  max-width: 100%;
  object-fit: contain;
}
.clearfix {
  clear: both;
}
.row {
  padding: 0 !important;
  margin: 0 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #fff;
}
// General Files
@import "./variables";

// layout Style
@import "../layout/navbar/_headr.scss";
@import "../layout/navbar/_vsmenu.scss";
@import "../layout/footer/_footer.scss";

// ===> Pages Style

// Home Page Style
@import "../components/home/_sliderservices.scss";
@import "../components/home/_sliderproposal.scss";
@import "../components/home/_sliderheader.scss";
@import "../components/home/_sliderblog.scss";

// About Page Style
@import "../components/about/_aboutvision.scss";

// Services Page Style
@import "../components/services/_services_language.scss";
@import "../components/services/_services_methodology.scss";

// Portfolio Style
@import "../components/portfolio/_portfolio.scss";

// Blogs Style
@import "../components/blogs/_blogscard.scss";

// Blog Style
@import "../components/blog/_blogcard.scss";
@import "../components/blog/_blogreviews.scss";


@import "../components/contact/_contactus.scss";
// Public Style
@import "../components/slick/_slick.scss";
@import "../components/public/_headerpage.scss";
@import "../components/public/_aboutinformation.scss";
@import "../components/public/_aboutsection.scss";
@import "../components/public/_buttonsfiltter.scss";
@import "../components/public/_blogbuttons.scss";
@import "../components/slick/_blogslick.scss";
@import "../components/public/_styleform.scss";
@import "../components/public/_buttonswhatsapp.scss";
@import "../components/services/_services_component.scss";