.footer {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-height: auto;
  min-height: 437px;
  position: relative;
  color: $white;
  padding: 1px;
  font-family: $fontmontserrat;
  .overload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1eed;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 2;
    max-height: auto;
    min-height: 298px;
    padding: 0 !important;
    margin-top: 102px;
    margin-bottom: 35px;
    .row > * {
      padding: 0 !important;
    }
  }

  &__logo {
    margin-right: 16px;
    background-color: #0000007e;
    width: 413px;
    height: 362px;
    text-align: center;
    padding: 34px 27px;
    border-radius: 0px 60px;
    img {
      width: 204px;
      height: 137px;
    }
    p {
      font-size: 16px;
      font-family: $fontmontserrat;
      margin: 20px 0px 22px 0px;
      a {
        font-weight: bold;
        color: $white;
      }
    }
    .socialmedia {
      width: 170px;
      height: 34px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        width: 40px;
        height: 34px;
        display: inline-block;
        color: $white;
        text-align: center;
        line-height: 34px;
      }
      a.facebook {
        background-color: #36609e;
      }
      a.twitter {
        background-color: #2ca9e1;
      }
      a.linkedin {
        background-color: #0077b7;
      }
      a.envelope {
        background-color: #249ee8;
      }
    }
  }
  &__items {
    max-height: auto;
    min-height: 362px;
  }
  &__newsletter {
    h3 {
      width: 100%;
      height: 44px;
      font-size: 33px;
      font-family: $fontmontserrat;
      font-weight: 400;
    }
    .news {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #0e0e0e;
      .text {
        font-size: 14px;
        font-weight: 300;
        font-family: $fontmontserrat;
        margin-right: 5px;
      }
      .input-group {
        height: 40px;
        border-radius: 10px;
        span {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          width: 45px;
          padding-left: 16px;
          background-color: #f9f9f9;
          color: #707070;
        }
        input {
          width: 180px;
          border: 1px solid #f9f9f9;
          background-color: #f9f9f9;
          color: #707070;
          font-size: 13px;
        }
        button {
          background-color: #1c5da3;
          color: $white;
          font-size: 14px;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          width: 90px;
        }
      }
    }
  }

  &__list {
    margin-top: 20px;
    &__header {
      font-size: 18px;
      font-family: $fontmontserrat;
      color: #249ee8;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 35px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 5px;
        width: 19px;
        background-color: #249ee8;
        left: 0;
        bottom: -10px;
      }
    }
    .list {
      margin-left: 5px;
      li {
        transition: 0.5s;
        margin-bottom: 19px;
        a.active {
          color: #249ee8;
          font-weight: bold;
        }
        a {
          color: $white;
          width: 100%;
          display: block;
          transition: 2s;
          -webkit-transition: 2s;
          -moz-transition: 2s;
          -ms-transition: 2s;
          -o-transition: 2s;

          &:hover {
            color: #249ee8;
          }
        }
        .icon {
          font-size: 12px;
          margin-right: 10px;
        }
        &:hover {
          margin-left: 10px;
        }
      }
    }
  }

  &__contactus {
    margin-top: 20px;
    .list {
      margin-left: 5px;
      li {
        transition: 0.5s;
        margin-bottom: 10px;
        .icon {
          font-size: 16px;
          margin-right: 10px;
        }
        &:hover {
          margin-left: 10px;
        }
        .text {
          font-size: 14px;
        }
      }
    }
  }
}

.copyright {
  background-color: #1a1a1a;
  color: $white;
  height: 94px;
  .container {
    height: 94px;
  }
  .text {
    font-size: 14px;
    font-family: $fontmontserrat;
    text-align: center;
    line-height: 94px;
    a {
      color: #249ee8;
    }
  }
}
// web-screen
// Style Media Queries In The Max Width ("*******").

@media (max-width: $web-screen) {
  .footer {
    &__logo {
      margin: 15px auto;
      width: 80%;
    }

    &__items {
      margin: 15px auto;
      width: 80%;
    }
  }
}
// tab-screen
// Style Media Queries In The Max Width ("*******").
@media (max-width: $tab-screen) {
  .footer {
    &__logo {
      margin: 20px auto;
    }

    &__newsletter {
      margin: 10px auto;
      width: 80%;
      text-align: center;
      .news {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #0e0e0e;
        .text {
          margin: 15px 0;
        }
      }
    }

    &__list {
      margin: 10px auto;
      width: 80%;
      border-bottom: 1px solid #0e0e0e;
      padding: 10px 0;
    }
    &__contactus {
      margin: 10px auto;
      width: 80%;
      padding: 10px 0;
    }
  }
}

// Style Media Queries In The Max Width ("*******").
@media (max-width: $mobile-screen) {
  .footer {
    &__logo {
      margin: 20px auto;
      width: 85%;
    }

    &__newsletter {
      width: 70%;
      text-align: center;
    }

    &__list {
      width: 70%;
    }
    &__contactus {
      width: 70%;
    }
  }
}
